/* Cabeçalho
-------------*/

body {
	background-color: rgb(245, 244, 244);
}

h6 {
	margin-bottom: 1px;
	margin-top: 1px;
}

.cadastro {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #55555d;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	font-family: 'lato' sans-serif;
}

.caixa {
	padding: 20px 0;
	border-bottom: 1px solid #222f43;
}

.suporte {
	margin: 60px 0;
	border: 1px solid #000;
}

.inscrever {
	color: #EFFBF5;
	text-decoration: none;
}

.bg-primary-color {
	background-color: rgba(125, 125, 125, 0.8);
}

.bg-secondary-color {
	background-color: #ece8ea;
}

.bg-dark-color {
	background-color: #050505;
}

.primary-color {
	color: #050505;
}

.secondary-color {
	color: #7a7a7a;
}

/* Navbar
-------------*/
#navbar {
	border-bottom: 5px solid #050505;
}

#navbar a:hover {
	color: #85f1a4;
}

#navbar a.active {
	border-bottom: 1px solid #050505;
}

.navbar-brand {
	display: flex;
}

.navbar-brand img {
	width: 70px;
}

.navbar-brand span {
	font-weight: 700;
	font-size: 1em;
	margin-left: 0.3em;
	border-bottom: 3px solid #3d38d6;
}

#texto {
	margin-top: 10px;
}

#navbar-items .navbar-nav {
	display: flex;
	justify-content: center;
	width: 100%;
}

#navbar-items .nav-item {
	margin: 0 1em;
}

/* Sliders
-----------*/

#slider {
	margin-top: 1em;
	margin-bottom: 3em;
}

#slider .carousel-caption {
	bottom: 3em;
}

#slider .carousel-caption h5 {
	font-size: 2.5em;
	text-shadow: #000 2px 2px;
}

.carousel-caption h2 {
	background: rgb(8, 106, 135, 0.9);
	padding: 0px 0px 5px 0px;
	margin-top: -465px;
	margin-bottom: 0.5rem;
	font-weight: 400;
	color: #EFFBF5;
	text-shadow: #000 2px 2px;
}

.carousel-caption p {
	background: rgb(8, 106, 135, 0.6);
	margin-top: -8px;
	font-size: 1.5em;
	color: #EFFBF5;
	text-shadow: #000 2px 2px;
}

.btn {
	border-radius: 0;
}

#slider .btn {
	padding: 1.3 1.8em;
	font-size: 1em;
	margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
	color: #111;
	font-size: 5em;
}

.carousel-indicators [data-bs-target] {
	background-color: #222;
	opacity: 0.8;
}

.carousel-indicators .active {
	background-color: #000;
}

@media(min-width: 768px) {
	#slider .carousel-caption {
		bottom: 15em;
	}

	#slider .carousel-caption h5 {
		font-size: 4em;
		text-shadow: #000 2px 3px;
	}

	#slider .btn {
		padding: 0.6 1.6em;
		font-size: 1.2em;
	}

	.carousel-indicators {
		bottom: 7em;
	}
}

/* Mini Banners
----------------*/
#mini-banners {
	margin-bottom: 4em;
}

#mini-banners .card {
	padding: 1em 0.3em;
	border-radius: 0;
	margin-bottom: 1em;
}

#mini-banners i {
	font-size: 4em;
}

#mini-banners .card-title {
	margin-bottom: 1em;
}

#mini-banners .btn {
	margin-top: 1.5em;
	padding: 0.6 1.2em;
}

@media(min-width: 768px) {
	#mini-banners {
		margin-top: -6em;
	}
}

/* Fotos
---------*/

.fotos {
	margin-bottom: 20px;
}

.texto {
	margin-top: 10px;
}

/* Videos
-----------*/
.videos {
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (min-width: 576px) {
	.videos {
		margin-right: 100px;
	}	
}
@media (min-width: 576px) {
.container-lg, .container-md, .container-sm {
    max-width: 960px;
	}
}


/* Destaques
------------*/

#featured-container {
	margin-bottom: 4em;
}

.title {
	font-size: 1.75em;
	margin-bottom: .4em;
	position: relative;
}

.title:before {
	width: 75px;
	border-top: 4px solid #7a7a7a;
	content: "";
	position: absolute;
	bottom: 2sm;
}

#featured-images {
	margin-top: 2em;
}

#featured-images .col-md-4 {
	position: relative;
	cursor: pointer;
}

#featured-images .col-md-4:hover > .banner-content {
	opacity: 0.8;
}

#featured-images .banner-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.6;
	transition: 0.5s;
}

@media(min-width: 768px) {
	.title {
		font-size: 2.4em;
	}

	.title:before {
		bottom: 1.5em;
	}

	#featured-images .banner-content {
		opacity: 0;
	}
}

/* Info
--------*/

#info-content {
	margin-bottom: 4em;
	padding: 4em 1em;
	background: #fff;
}

#info-numbers {
	margin: 1.5em 0;
}

#info-banner {
	display: flex;
	align-items: center;
	margin-bottom: 2.5em;
}

#info-numbers h3 {
	font-size: 3em;
}

@media(min-width: 768px) {
	#info-content {
		padding: 3.5em;
	}
}

/* Footer top
----------*/
#footer {
	padding: 3em 2em;
}

#footer-top {
	margin-bottom: 2em;
}

#footer-top, #footer-top i {
	color: #fff;
}

#social-icons {
	text-align: right;
}

#social-icons i {
	margin-right: 1em;
	font-size: 1.5em;
	cursor: pointer;
}

#social-icons i:hover {
	color: #7a7a7a;
}

/* Footer Details
------------------*/

#footer-details {
	margin-bottom: 3em;
}

#contact-container {
	margin-left: auto;
}


#news-container, #contact-container, #links-cotainer {
	padding: 0;
	border: 0;
	margin-bottom: 2em;
}

#footer-details {
	color: #fff;
	margin-bottom: 1.5em;
}

#news-container input {
	border-radius: 0;
	border: none;
}

#links-container li {
	margin-bottom: 0.5em;
}

#links-container a {
	text-decoration: none;
}

#links-container a:hover {
	color: #fff;
}

/* Footer Bottom
-----------------*/
#footer-bottom {
	border-top: 1px solid #7a7a7a;
	padding-top: 2em;
}

#footer-bottom i {
	color: #e61e10;
	margin-left: 0.5em;
}

#footer-bottom img {
	width: 140px;
}

@media (min-width: 576px)  {
	h2, h2 {
    font-size: 2em;
	}

}

@media(min-width: 768px) {
	#news-container {
		padding-right: 2em;
	}

	#links-container {
		padding-left: 2em;
	}

	#contact-container {
		padding: 0 2em;
	}
}

/* Cookies
------------*/

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    display: none;
}
